<div class="content-container">
  <div class="upload-container" *ngIf="!data">
    <h3>Upload Exported Training Instance</h3>
    <sentinel-controls
      [controls]="controls"
      (itemClicked)="onControlsAction($event)">
    </sentinel-controls>
  </div>
  <div class="card-content">
    <kypo-adaptive-model-simulator-definition-info [definitionInfo]="data"></kypo-adaptive-model-simulator-definition-info>
    <kypo-adaptive-model-simulator-instance-simulator [simulatorData]="data"></kypo-adaptive-model-simulator-instance-simulator>
  </div>
</div>
