<mat-expansion-panel [expanded]="simulatorData" [disabled]="!simulatorData">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>Instance Simulation</span>
    </mat-panel-title>
    <mat-panel-description>
      <!--      <div class="panel-description-error" *ngIf="!canDeactivateTDEdit || (unsavedPhases).length !== 0">-->
      <!--        <mat-icon color="warn">warning</mat-icon>-->
      <!--        <mat-error>Changes are not saved</mat-error>-->
      <!--      </div>-->
      <mat-icon>mediation</mat-icon>
    </mat-panel-description>

  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <!--    DEFINITION INFO HERE-->

    <mat-divider></mat-divider>
    <!-- EDIT PHASES -->
    <div>
      <div class="phases-header">
        <h3>Training Instance Simulation</h3>
        <span class="phases-info" *ngIf="1 >= 0">Training instance contains {{ 1 }} trainee(s)</span>
      </div>
      <!--      <kypo-phase-overview [trainingDefinition]="trainingDefinition$ | async"-->
      <!--                           (phasesCount)="onPhasesCountChanged($event)"-->
      <!--                           (unsavedPhases)="onUnsavedPhasesChanged($event)">-->
      <!--      </kypo-phase-overview>-->
    </div>
  </ng-template>

</mat-expansion-panel>
